body{
    background-image: url("background-autumn-orange-yellow-green-pale-grunge-gradient.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-us-text{
    position: absolute;
    width: 55vw;
    left: 22.5vw;
    margin: 75px auto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    z-index: 11;
}

.circles-1{
    position: absolute;
    top: 125px;
    left: 70vw;
}
.circles-2{
    position: absolute;
    top: 60vh;
    left: 10vw;
}