.about-us-text{
    position: absolute;
    width: 55vw;
    left: 22.5vw;
    margin: 75px auto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    z-index: 11;
}

.circles-1{
    position: absolute;
    top: 150px;
    left: 70vw;
}
.circles-2{
    position: absolute;
    top: 50vh;
    left: 3vw;
}

.circles-3{
    position: absolute;
    top: 105px;
    left: 10vw;
}