:root{
    --pale-yellow: #FFECCF
}

.past-tasks{
    
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    width: 80%;
    cursor: pointer;
}
.task{
    position: relative;
    width: 100%;
}

.task-button{
    position: relative;
    font-size: 24px;
    color: black;
    width: 100%;
    border:none;
    border-radius: 10px;
    text-align: left;
    padding: 15px;
    margin-top: 25px;
    height: 60px;
}

.toggle-symbol{
    font-size: 20px;
    position: absolute;
    left: 95%;
    top: 40px;
    z-index: 1;
    
}


.task-file {
    background-color: var(--pale-yellow);
    padding: 20px;
    color:black;
    display: none;
    overflow: hidden;
    margin-bottom: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
