:root{
    --pale-yellow: #FFECCF;
}

.goal-selector{
    width: 80vw;
    margin: 250px auto;
}

.select-goal-prompt{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: auto;
}

.goals{
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.select-goal{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: auto;
    margin: 15px;
    padding: 25px;
    text-align: center;
    background-color: #FFECCF;
    width: 175px;
}

.to-task-button{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: auto;
    margin: 75px auto 15px auto;
    padding: 25px;
    text-align: center;
    width:175px;
    float: right;
}